@charset "utf-8";
/* CSS Document */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, img { margin:0; padding:0; }
img{display: block;}
ul, ol ,li{ list-style:none; }
body { color:#333; font:12px "SimSun","宋体","Arial Narrow",HELVETICA; background:#fff;}

a { color:#000; text-decoration:none; }
.clear{clear:both}
body,html{
    height: 100%;
    width:100% 
}




